.wrapper {
    background-color: var(--background-color);
    padding: 0 150px;
    width: 100%;
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px;
    top: 37px;
    background-color: var(--background-color);

}

.logo-link{
    width: 150px;
    height: 56px;
}

.page-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 408px;
    height: 22px;
}

.page-navinner{
    font-size: 18px;
    margin-right: 39px;
    font-weight: 400;
    &:hover{
        color: #52FFE0;
    }
}
